.form-group.mb-3.col-sm-10
    h3 Business and career
    
      //- TODO: add required 
      .input-group
        span#career-0-sp.input-group-text.col-sm-8 How do you feel about your business and career right now?
        input#career-0.form-control(
          aria-describedby="career-0" 
          type="number"
          min="0"
          max="10"
          name="careerRate"
          placeholder="Score 1 - 10" 
        )

      .input-group
        span#career-1-sp.input-group-text.col-sm-8 How do you earn money? 
        input#career-1.form-control(
          aria-describedby="career-1" 
          type="text"
        )
        .input-group
        //- rephrase
        span#career-2-sp.input-group-text.col-sm-8 What is your career path?
        input#career-2.form-control(
          aria-describedby="career-2" 
          type="text"
        )
        .input-group
        //- rephrase
        span#career-3-sp.input-group-text.col-sm-8 How happy satisfied you with your job/career? (Score 1-10)
        input#career-3.form-control(
          aria-describedby="career-3" 
          type="text"
        )

        .input-group
        //- rephrase
        span#career-4-sp.input-group-text.col-sm-8 Do you earn enough for a living? (Score 1-10)
        input#career-4.form-control(
          aria-describedby="career-4" 
          type="text"
        )
        .input-group
        //- rephrase
        span#career-5-sp.input-group-text.col-sm-8 Do you feel like your career choice correspond to your life mission? (Score 1-10)
        input#career-5.form-control(
          aria-describedby="career-5" 
          type="text"
          placeholder=""
        )

        .input-group
        //- rephrase
        span#career-6-sp.input-group-text.col-sm-8 How much time weekly do you spend for your job/career? (Weekly average)
        input#career-6.form-control(
          aria-describedby="career-6" 
          type="text"
        )

        .input-group
        //- rephrase
        span#career-7-sp.input-group-text.col-sm-8 Are you happy with amount of time spend for your job? (Score 1-10)
        input#career-7.form-control(
          aria-describedby="career-7" 
          type="text"
        )

        .input-group
        span#career-8-sp.input-group-text.col-sm-2 Note
        input#career-8.form-control(
          aria-describedby="career-8" 
          placeholder="TODO, Current state of things (what is your job/career path, any thoughts about changes in career, etc)"
          type="text"
        )


//- TODO add placeholders
//- TODO rephrase all questions
