.form-group.mb-3.col-sm-10
    h3 Fun and recreation

         //- TODO: add required 
      .input-group
        span#fun-0-sp.input-group-text.col-sm-8 How do you feel about fun and recreation area in your life right now?
        input#fun-0.form-control(
          aria-describedby="fun-0" 
          type="number"
          min="0"
          max="10"
          name="funRate"
          placeholder="Score 1 - 10" 
        )

        .input-group
        //- rephrase
        span#fun-2-sp.input-group-text.col-sm-8 How much times per year can you travel/see new city/place ? 
        input#fun-2.form-control(
          aria-describedby="fun-2" 
          type="text"
        )
        .input-group
        //- rephrase
        span#fun-3-sp.input-group-text.col-sm-8 What new things/places/people have you explored within last year? 
        input#fun-3.form-control(
          aria-describedby="fun-3" 
          type="text"
        )

        .input-group
        //- rephrase
        span#fun-4-sp.input-group-text.col-sm-8 What would you like to see/try/visit within the next couple of years? 
        input#fun-4.form-control(
          aria-describedby="fun-4" 
          type="text"
        )
        .input-group
        //- rephrase
        span#fun-5-sp.input-group-text.col-sm-8 How do you spend your free time? 
        input#fun-5.form-control(
          aria-describedby="fun-5" 
          type="text"
          placeholder=""
        )

        .input-group
        //- rephrase
        span#fun-6-sp.input-group-text.col-sm-8 Is recreational part of youl life is included in routine? 
        input#fun-6.form-control(
          aria-describedby="fun-6" 
          type="text"
        )

        .input-group
        span#fun-8-sp.input-group-text.col-sm-2 Note
        input#fun-8.form-control(
          aria-describedby="fun-8" 
          placeholder="TODO, Current state of things (how often do you have time to just have fun, with whom mostly, what do you enjoy, etc)"
          type="text"
        )


//- TODO add placeholders
//- TODO rephrase all questions
