.form-group.mb-3.col-sm-10
    h3 Mental health
      .input-group
        span#mental-0-sp.input-group-text.col-sm-8 How do you feel about your mental health right now?
        input#mental-0.form-control(
          aria-describedby="mental-0" 
          type="number"
          min="0"
          max="10"
          name="mentalRate"
          placeholder="Score 1 - 10" 
        )

        .input-group
        span#mental-2-sp.input-group-text.col-sm-8 Assess your ability to stay calm in difficult situations/under pressure? 
        input#mental-2.form-control(
          aria-describedby="mental-2" 
          type="number"
          min="0"
          max="10"
          name="resilienceScore"
          placeholder="Score 1 - 10" 
        )
        .input-group
        span#mental-3-sp.input-group-text.col-sm-8 Assess your positivity(tendency to be positive or optimistic in life)  
        input#mental-3.form-control(
          aria-describedby="mental-3" 
          type="number"
          min="0"
          max="10"
          name="positivityScore"
          placeholder="Score 1 - 10" 
        )

        .input-group
        span#mental-4-sp.input-group-text.col-sm-8 How explosive you are? Assess your ability to control emotions?
        input#mental-4.form-control(
          aria-describedby="mental-4" 
          type="number"
          min="0"
          max="10"
          placeholder="Score 1 - 10" 
        )
        .input-group
        span#mental-5-sp.input-group-text.col-sm-8 Assess your ability to accept other people failures, ability to compassion
        input#mental-5.form-control(
          aria-describedby="mental-5" 
          type="number"
          min="0"
          max="10"
          placeholder="1-very easy, no problem at all, 10 - I don't accept people failures"
        )

        .input-group
        span#mental-6-sp.input-group-text.col-sm-8 How happy you are throughout the day?
        input#mental-6.form-control(
          aria-describedby="mental-6" 
          type="number"
          min="0"
          max="10"
          placeholder="Score 1 - 10" 
        )

        .input-group
        span#mental-7-sp.input-group-text.col-sm-8 Assess your average level of anxiety
        input#mental-7.form-control(
          aria-describedby="mental-7" 
          type="number"
          min="0"
          max="10"
          placeholder="Score 1 - 10" 
        )

        .input-group
        span#mental-8-sp.input-group-text.col-sm-8 How do you feel about socializing? 
        input#mental-8.form-control(
          aria-describedby="mental-8" 
          type="number"
          min="0"
          max="10"
          placeholder="Score 1 - 10" 
        )

        .input-group
        span#mental-9-sp.input-group-text.col-sm-8 How confident you are about your potential/abilities/power?
        input#mental-9.form-control(
          aria-describedby="mental-9" 
          type="number"
          min="0"
          max="10"
          placeholder="Score 1 - 10" 
        )        

        .input-group
        span#mental-10-sp.input-group-text.col-sm-8 Assess your willpower, tenacity and self-determination
        input#mental-10.form-control(
          aria-describedby="mental-10" 
          type="number"
          min="0"
          max="10"
          placeholder="Score 1 - 10" 
        )        

        .input-group
        span#mental-11-sp.input-group-text.col-sm-2 Note
        input#mental-11.form-control(
          aria-describedby="mental-11" 
          placeholder="How do you feel about your life, your emotions, overall mental state, acceptance, confidence"
          type="text"
        )


//- TODO add placeholders
