.form-group.mb-3.col-sm-10
    h3 Mental health

      .input-group
        span#mental-1-sp.input-group-text.col-sm-8 How would you rate this area of your life? Score 1-10
        input#mental-1.form-control(
          aria-describedby="mental-1" 
          type="text"
        )
        .input-group
        //- rephrase
        span#mental-2-sp.input-group-text.col-sm-8 Is it possible for you to stay calm in stressful situations? (Score 1-10)
        input#mental-2.form-control(
          aria-describedby="mental-2" 
          type="text"
        )
        .input-group
        //- rephrase
        span#mental-3-sp.input-group-text.col-sm-8 How often do I use humor/jokes in ordinary life? (Score 1-10)
        input#mental-3.form-control(
          aria-describedby="mental-3" 
          type="text"
        )

        .input-group
        //- rephrase
        span#mental-4-sp.input-group-text.col-sm-8 How explosive you are? How easy to control your emotions?(Score 1-10)
        input#mental-4.form-control(
          aria-describedby="mental-4" 
          type="text"
        )
        .input-group
        //- rephrase
        span#mental-5-sp.input-group-text.col-sm-8 How easy for you to accept other people failures? (Score 1-10)
        input#mental-5.form-control(
          aria-describedby="mental-5" 
          type="text"
          placeholder="1-very easy, no problem at all, 10 - I don't accept people failures"
        )

        .input-group
        //- rephrase
        span#mental-6-sp.input-group-text.col-sm-8 How happy am I throuout the day? (Score 1-10)
        input#mental-6.form-control(
          aria-describedby="mental-6" 
          type="text"
        )

        .input-group
        //- rephrase
        span#mental-7-sp.input-group-text.col-sm-8 Assess your average level of anxiety (Score 1-10)
        input#mental-7.form-control(
          aria-describedby="mental-7" 
          type="text"
        )

        .input-group
        //- rephrase
        span#mental-8-sp.input-group-text.col-sm-8 How do you feel about socializing? (Score 1-10)
        input#mental-8.form-control(
          aria-describedby="mental-8" 
          type="text"
        )

        .input-group
        //- rephrase
        span#mental-9-sp.input-group-text.col-sm-8 How confident you are about your potential/abilities/etc? (Score 1-10)
        input#mental-9.form-control(
          aria-describedby="mental-9" 
          type="text"
        )        

        .input-group
        //- rephrase
        span#mental-10-sp.input-group-text.col-sm-8 Assess your willpower, tenacy, willingness to consecuantly go toward some goal? (Score 1-10)
        input#mental-10.form-control(
          aria-describedby="mental-10" 
          type="text"
        )        

        .input-group
        span#mental-11-sp.input-group-text.col-sm-2 Note
        input#mental-11.form-control(
          aria-describedby="mental-11" 
          placeholder="TODO, Current state of things (how do you feel about your life, your emotions, overall mental state, etc,)"
          type="text"
        )


//- TODO add placeholders
//- TODO rephrase all questions


//- How would you rate this area of your life?
//- Is it possible for you to stay calm in stressful situations? (Score 1-10)
//- How often do I use humor/jokes in ordinary life? (How mych fun/laugh in a day? (Score 1-10
//- How explosive you are? How easy to control your emotions?
//- How easy for me to accept other people failures? 
//- How happy am I throuout the day? (Score 1-10)
//- Level of anxiety? 
//- How do you feel with socializing? (Score 1-10)
//- Smth about confidence (ability to trust my potentiality)
//- How do you assess willpower, tenacy, willingness to consecuatly go toward some goal? 
//- Describe current mental state (how do you feel about your life,  your emotions, 
