.form-group.mb-3.col-sm-10
    h3 Hobbies and personal growth

         //- TODO: add required 
      .input-group
        span#personal-0-sp.input-group-text.col-sm-8 How do you feel about your personal growth right now?
        input#personal-0.form-control(
          aria-describedby="personal-0" 
          type="number"
          min="0"
          max="10"
          name="hobbiesRate"
          placeholder="Score 1 - 10" 
        )

      .input-group
        span#personal-1-sp.input-group-text.col-sm-8 Do you have a list of personal improvements goals? 
        input#personal-1.form-control(
          aria-describedby="personal-1" 
          type="text"
          placeholder="yes/no"
        )
        .input-group
        //- rephrase
        span#personal-2-sp.input-group-text.col-sm-8 What are your current goals in terms of personal development?
        input#personal-2.form-control(
          aria-describedby="personal-2" 
          type="text"
        )
        .input-group
        //- rephrase
        span#personal-3-sp.input-group-text.col-sm-8 What are your current, not related to job, topics of interest? 
        input#personal-3.form-control(
          aria-describedby="personal-3" 
          type="text"
        )

        .input-group
        //- rephrase
        span#personal-4-sp.input-group-text.col-sm-9 How happy you are with the amount of time you spend on your personal development goals? (Score 1-10)
        input#personal-4.form-control(
          aria-describedby="personal-4" 
          type="text"
        )
        .input-group
        //- rephrase
        span#personal-5-sp.input-group-text.col-sm-8 How much time weekly can you take on this? hours
        input#personal-5.form-control(
          aria-describedby="personal-5" 
          type="text"
          placeholder=""
        )

        .input-group
        //- rephrase
        span#personal-6-sp.input-group-text.col-sm-8 What are your major achievements in this area (during last year)? 
        input#personal-6.form-control(
          aria-describedby="personal-6" 
          type="text"
        )

        .input-group
        //- rephrase
        span#personal-7-sp.input-group-text.col-sm-8 What are your major fuckups in this area? 
        input#personal-7.form-control(
          aria-describedby="personal-7" 
          type="text"
        )

        .input-group
        //- rephrase
        span#personal-8-sp.input-group-text.col-sm-8 What sports do you practice?
        input#personal-8.form-control(
          aria-describedby="personal-8" 
          type="text"
        )

        .input-group
        span#personal-9-sp.input-group-text.col-sm-2 Note
        input#personal-9.form-control(
          aria-describedby="personal-9" 
          placeholder="TODO, Current state of things (do you have enough time, what are your passions, anything important, etc)"
          type="text"
        )


//- TODO add placeholders
//- TODO rephrase all questions
