.form-group.mb-3.col-sm-10
    h3 Relationships

    h4 Romantic 
      .input-group
        span#romantic-1-sp.input-group-text.col-sm-8 How happy you are in the relationship with partner? Score 1-10
        input#romantic-1.form-control(
          aria-describedby="romantic-1" 
          type="text"
        )
        .input-group
        //- rephrase
        span#romantic-2-sp.input-group-text.col-sm-8 How happy you are with amount of time spent for couple time? (Score 1-10)
        input#romantic-2.form-control(
          aria-describedby="romantic-2" 
          type="text"
        )
        .input-group
        span#romantic-3-sp.input-group-text.col-sm-2 Note
        input#romantic-3.form-control(
          aria-describedby="romantic-3" 
          placeholder="TODO, Current state of things (how much time for 2, how do you spend time togeather, ability to solve problems, common future vision, etc,)"
          type="text"
        )

    h4 Family 

       .input-group
        span#family-1-sp.input-group-text.col-sm-8 Atmosphere at home (Score 1-10)
        input#family-1.form-control(
          aria-describedby="family-1" 
          type="text"
        )
        .input-group
        //- rephrase
        span#family-2-sp.input-group-text.col-sm-8 How happy you are with amount of time spent with family? (Score 1-10)
        input#family-2.form-control(
          aria-describedby="family-2" 
          type="text"
        )
        .input-group
        span#family-3-sp.input-group-text.col-sm-2 Note
        input#family-3.form-control(
          aria-describedby="family-3" 
          placeholder="TODO, Current state of things (how much time spent with family and how, ability to resolve conflicts, relationship with relatives, etc"
          type="text"
        )

    h4 Friends

       .input-group
        //- rephrase
        span#friends-1-sp.input-group-text.col-sm-8 How happy you are with amount of close friends? Score 1-10
        input#friends-1.form-control(
          aria-describedby="friends-1" 
          type="text"
        )
        .input-group
        //- rephrase
        span#friends-2-sp.input-group-text.col-sm-8 How happy you are with amount of time spent with friends? (Score 1-10)
        input#friends-2.form-control(
          aria-describedby="friends-2" 
          type="text"
        )
        .input-group
        span#friends-3-sp.input-group-text.col-sm-2 Note
        input#friends-3.form-control(
          aria-describedby="friends-3" 
          placeholder="TODO, Сurrent state of things (how much time spent with friends and how, how much close friends in your life, etc, "
          type="text"
        )